# OpenVPN
$ipt -A INPUT -p udp --dport {{rprt}} -i $isp -j ACCEPT
$ipt -A OUTPUT -p udp --sport {{lprt}} -o $isp -j ACCEPT
# FWD
$ipt -A FORWARD -i tun{{tun_num}} -o $isp -j ACCEPT
$ipt -A FORWARD -o tun{{tun_num}} -i $isp -j ACCEPT
